.title{
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    margin: 0px, auto;
    border: 3px solid black;
    border-radius: 50px 250px;
}

